// colours used thoughout site
:root {
    --col-bg-canvas: #2c2830;
    --col-particle: #ebe7c5;
    --col-particle-stroke: #692e50;
    --col-particle-stroke-hover: #9aa68b;

    --col-text: #ebe7c5;
}
