// colour palette
:root {
    --col-bg: #212121;
    --col-link: #bbdefb;
    --col-text: #ebe7c5;

    --col-particle-stroke-hover: #0892d0;
    --col-particle-stroke: #035096;
    --col-particle: #536878;
}
