/* styles of index */

/*
import partials
*/
@import 'reset';
@import 'palette';

body {
    background-color: var(--col-bg);
    color: var(--col-text);
}

h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 3rem;
}

p {
    margin-bottom: 1.5rem;
}

a {
    color: inherit;
    &:hover,
    &:focus,
    &:active {
        color: red;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#particles {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -999;
}
